*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f289;
}
#conteudo{
    margin: 1% auto;
    padding: 7%;
    border: solid;
    
}
#bg-text{
    background: url(/img/backgroung-text.svg);
    border-radius: 20px;
}
